<table border="0" cellpadding="0" cellspacing="0" class="footerSubCat" role="presentation" style="font-family: 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', Osaka, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', 'Graphik', sans-serif !important" width="100%">
 
  <tr>
   <td align="center" class="container" style="padding: 0 8px 15px;">
    <table border="0" cellpadding="0" cellspacing="0" role="presentation">
     
      <tr>
       <td align="right" class="nav-column" style="background-color: #f2f4f7; min-height: 50px; padding: 8px 0; width: 205px;" valign="middle">
        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
         
          <tr>
           <td align="left" class="carrot" style="padding: 0 8px 0 12px; width: 8px;" valign="middle">
            <a alias="footer-men-shoes" class="nav-item" href="https://protect-eu.mimecast.com/s/2zYCCwrwlHoDV70TPrzht?domain=asics.com/" style="display: block; color: #000000; text-decoration: none; width: 100%;"><img alt="" class="arrow" src="https://image.info.asics.com/lib/fe33157075640675701276/m/5/dc3ee3db-7e4d-48b7-b7dc-52e1d347b326.png" style="border: 0; display: block; margin: 0; max-width: 8px; min-width: 8px; width: 100%;" width="8"> </a></td><td align="left" style="font-size: 14px; font-weight: bold; line-height: 1.3; padding: 8px 0;" valign="middle">
            <a alias="dtc-limited" class="nav-item" conversion="false" data-linkto="https://" href="https://protect-eu.mimecast.com/s/7qS6CzXzoHK0w38u4OGs2Z?domain=walking.asics.com" style="color:#000000;text-decoration:none;display: block; width: 100%;" title="">RUNWALK</a></td></tr></table></td><td style="min-width: 4px; width: 6px;">
        &zwnj;</td><td align="right" class="nav-column" style="background-color: #f2f4f7; min-height: 50px; padding: 8px 0; width: 205px;" valign="middle">
        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
         
          <tr>
           <td align="left" class="carrot" style="padding: 0 8px 0 12px; width: 8px;" valign="middle">
            <a alias="footer-women-shoes" class="nav-item" href="https://protect-eu.mimecast.com/s/0YSoCx1xmsZ2RymT9QOZG?domain=asics.com/" style="display: block; color: #000000; text-decoration: none; width: 100%;"><img alt="" class="arrow" src="https://image.info.asics.com/lib/fe33157075640675701276/m/5/dc3ee3db-7e4d-48b7-b7dc-52e1d347b326.png" style="border: 0; display: block; margin: 0; max-width: 8px; min-width: 8px; width: 100%;" width="8"> </a></td><td align="left" style="font-size: 14px; font-weight: bold; line-height: 1.3; padding: 8px 0;" valign="middle">
            <a alias="new-arrivals" class="nav-item" conversion="false" data-linkto="https://" href="https://protect-eu.mimecast.com/s/iFlQCA1lxsjvlgrIGpb3tJ?domain=walking.asics.com" style="color:#000000;text-decoration:none;display: block; width: 100%;" title="">PEDALA</a></td></tr></table></td><td style="min-width: 4px; width: 6px;">
        &zwnj;</td><td align="right" class="nav-column" style="background-color: #f2f4f7; min-height: 50px; padding: 8px 0; width: 205px;" valign="middle">
        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
         
          <tr>
           <td align="left" class="carrot" style="padding: 0 8px 0 12px; width: 8px;" valign="middle">
            <a alias="footer-kids-shoes" class="nav-item" style="display: block; color: #000000; text-decoration: none; width: 100%;"><img alt="" class="arrow" src="https://image.info.asics.com/lib/fe33157075640675701276/m/5/dc3ee3db-7e4d-48b7-b7dc-52e1d347b326.png" style="border: 0; display: block; margin: 0; max-width: 8px; min-width: 8px; width: 100%;" width="8"> </a></td><td align="left" style="font-size: 14px; font-weight: bold; line-height: 1.3; padding: 8px 0;" valign="middle">
            <a alias="sale" class="nav-item" conversion="false" data-linkto="https://" href="https://protect-eu.mimecast.com/s/a7CjCB6mytvgR1PtzkQ-OP?domain=walking.asics.com" style="color:#000000;text-decoration:none;display: block; width: 100%;" title="">セール</a></td></tr></table></td></tr></table></td></tr></table>
